
.ProductPage{
    position: relative;
    display: flex;
    width: 90%;
    margin: auto;
}

.ProductPageFlex{
    
    /* height: 180vh; */
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.ProductPageImgsContent{
    flex: 1.3;
    top: 0;
    height: min-content;
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
}

.ProductPageImgsContentImg{
    height: 60vh;
}

.ProductPageImgsContentImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.ProductPageContent{
    flex: 1;
    padding: 0px 20px;
}

.ProductPageContentTitleAndWishList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ProductPageContentTitle{
    font-size: 2.2rem;
    flex: 5;
    font-weight:400;
    margin-bottom: 20px;
    color: #333;
    font-family: "Jost", sans-serif;
}

.ProductPageContentWishList{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(125, 125, 125);
    color: black;
}


.ProductPageContentPrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-family: "Jost", sans-serif;
    /* padding: 10px 0px; */
}

.ProductPageContentPriceFinal{
    color: rgb(230, 0, 0);
    font-size: 1.7rem;
}

.ProductPageContentPriceBefore{
    color: #00000088;
    font-size: .9rem;
    text-decoration:line-through;
}

.ProductPageContentPriceDiscount{
    padding: 4px 10px;
    font-size: .7rem;
    font-weight: bold;
    color: white;
    background-color: rgb(230, 0, 0);
    border-radius: 30px;
}

.ProductPageContentMRP{
    font-size: 1.1rem;
    color: #000000b1;
    padding: 20px 0px;
    font-family: "Jost", sans-serif;
}


.ProductPageContentColorTitle{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Jost", sans-serif;
}

.ProductPageContentColorTitle span {
    /* margin-left: 5px; */
    font-weight: 300;
    font-size: 1rem;
    color: #000000cc;
}

.ProductPageContentColorDivs{
    margin: 5px 0px;
    height: 45px;
    width: 45px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 50px;
    font-family: "Jost", sans-serif;
}

.ProductPageContentColorDivsCircle{
    background-color: beige;
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

.ProductPageContentColorSize{
    padding: 10px 0px;
}

.ProductPageContentColorSizeTitleHead{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Jost", sans-serif;
    /* margin-top: 20px; */
}

.ProductPageContentColorSizeTitle span {
    /* margin-left: 5px; */
    font-weight: 300;
    
    font-size: 1rem;
    color: #000000cc;
}

.ProductPageContentColorSizeContainer{
    padding: 10px 0px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    font-family: "Jost", sans-serif;    
}

.ProductPageContentColorSizeContainerEachSelected{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    background-color: black;
    color: white;
}
.ProductPageContentColorSizeContainerEach{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6%;
    background-color: white;
    color: rgba(0, 0, 0, 0.694);
    border: 1px solid #ccc;
}

.ProductPageContentQuantityAndAddtoCart{
    padding: 10px 0px;
    font-family: "Jost", sans-serif;
}

.ProductPageContentQuantityAndAddtoCartPara{
    font-size: 1rem;
    color: black;
    font-family: "Jost", sans-serif;
    font-weight: 600;
}

.ProductPageContentQuantity{
    padding: 8px 0px;
}

.ProductPageContentQuantity{
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.ProductPageContentQuantityContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 15px 10px;
    background-color: gainsboro;
}

.ProductPageContentAddToCart{
    flex: 4;
    padding: 15px;
    border-radius: 3px;
    color: black;
    border: 1px solid black;
    font-family: "Jost", sans-serif;
    text-align: center;
    background-color: white;
}

.ProductPageContentAddToCartContainer{
    font-size: 1rem;

}
.ProductPageContentQuantityContainer{
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    background-color: gainsboro;
    font-family: "Jost", sans-serif;
}
.ProductPageContentQuantityContainerNegative{
    flex: 1;
    font-size: 1.5rem;
    text-align: center;
}

.ProductPageContentQuantityContainerInt{
    flex: 4;
    text-align: center;
    font-size: 1.2rem;
}

.ProductPageContentQuantityContainerPositive{
    flex: 1;
    font-size: 1.1rem;
    text-align: center;
}

.ProductPageContentBuyitNow{
    padding: 15px;
    flex: 1;
    font-size: 1rem;
    text-align: center;
    font-family: "Jost", sans-serif;
    color: white;
    background-color: rgb(230, 0, 0);
}

.ProductPageContentFreeShipping{
    font-family: "Jost", sans-serif;
    padding: 10px 0px;
}

.ProductPageContentFreeShippingPara{
    font-size: 1rem;
    color: black;
    font-weight: 400;
}
.ProductPageContentFreeShippingParaSpan{
    font-weight: 600;
}

.ProductPageContentEstimatedDelivery{
    padding: 10px 0px;
}

.ProductPageContentEstimatedDeliveryPara{
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

.ProductPageContentEstimatedDeliveryParaSpan{
    font-weight: 600;
}

.ProductPageContentAsknShare{
    font-family: "Jost", sans-serif;

    padding: 30px 0px 10px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

.ProductPageContentAsk, .ProductPageContentShare{
    display: flex;
    font-family: "Jost", sans-serif;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}