

.NavBarContainer{
    position: relative;
    height: 60px;
    margin: auto;
}

.NavBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
}

.NavBarContent{
    
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.NavBarContentLogo{
    flex: 1;
}
.NavBarContentLogoImg{
    height: 50px;
}
.NavBarContentSearch{
    position: relative;
    flex: 3;
    display: flex;
    gap: 20px;
    z-index: 10;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.NavBarContentSearchInput{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 3;
    gap: 20px;
    position: relative;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
}

.NavBarContentSearch .NavBarContentSearchP{
    font-size: 1rem;
    transition: all .2s;
    color: black;
    font-weight: 500;
    word-spacing: 1px;
    font-family: "Jost", sans-serif;
}

.NavBarContentSearchShop{
    top: 0;
    height: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    z-index: 99;
    opacity: 0;
    font-family: "Jost", sans-serif;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    word-spacing: 1px;
    font-family: "Jost", sans-serif;
 
}

.NavBarContentAccounts{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: black;
    font-weight: 600;
}

.NavBarContentAccountsWishList{
    position: relative;
}

.NavBarContentAccountsAccountWishListCount{
    position: absolute;
    top: -8px;
    right: -8px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 600;
    background-color: red;
    font-family: "Jost", sans-serif;
    color: white;
}

.NavBarContentAccountsCart{
    position: relative;
}

.NavBarContentAccountsAccountCartCount{
    position: absolute;
    top: -8px;
    right: -8px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 600;
    background-color: red;
    font-family: "Jost", sans-serif;
    color: white;
}

@keyframes enterIn{
    0%{
        opacity: 0;
        height: 0px;
    }
    
    100%{
        opacity: 1;
        height: 100px;
    }
}

