

.NavBarContainer{
    position: relative;
    height: 60px;
    margin: auto;
}

.NavBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
}

.NavBarContent{
    
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.NavBarContentLogo{
    flex: 1;
}
.NavBarContentLogoImg{
    height: 50px;
}
.NavBarContentSearch{
    position: relative;
    flex: 3;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.NavBarContentSearch p{
    font-size: 1rem;
    z-index: 100;
    transition: all .2s;
    color: black;
    font-weight: 500;
    word-spacing: 1px;
    font-family: "Jost", sans-serif;
}

.NavBarContentSearchShop{
    top: 0;
    height: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    opacity: 0;
    font-family: "Jost", sans-serif;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    word-spacing: 1px;
    font-family: "Jost", sans-serif;
 
}

.NavBarContentAccounts{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: black;
    font-weight: 600;
}

@keyframes enterIn{
    0%{
        opacity: 0;
        height: 0px;
    }
    
    100%{
        opacity: 1;
        height: 100px;
    }
}

